@import url('https://fonts.googleapis.com/css?family=Montserrat:400,700&display=swap');
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Montserrat', sans-serif;
}

body {
  background: #38489E;
  padding: 0 10px;
}

.adminlogin {
  max-width: 500px;
  width: 100%;
  background: #fff;
  margin: 20px auto;
  margin-top: 5%;
  box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.125);
  padding: 30px;
}

.adminlogin .title {
  font-size: 24px;
  font-weight: 700;
  margin-bottom: 25px;
  color: #38489E;
  text-transform: uppercase;
  text-align: center;
}

.adminlogin .form {
  width: 100%;
}

.adminlogin .form .inputfield {
  margin-bottom: 15px;
  display: flex;
  align-items: center;
}

.adminlogin .form .inputfield label {
  width: 200px;
  color: #757575;
  margin-right: 10px;
  font-size: 14px;
}

.adminlogin .form .inputfield .input {
  width: 100%;
  outline: none;
  border: 1px solid #d5dbd9;
  font-size: 15px;
  padding: 8px 10px;
  border-radius: 3px;
  transition: all 0.3s ease;
}

.adminlogin .form .inputfield .input:focus {
  border: 1px solid #38489E;
}

.adminlogin .form .inputfield p {
  font-size: 14px;
  color: #757575;
}

.adminlogin .form .inputfield .check {
  width: 15px;
  height: 15px;
  position: relative;
  display: block;
  cursor: pointer;
}

.adminlogin .form .inputfield .check input[type="checkbox"] {
  position: absolute;
  top: 0;
  left: 0;
  opacity: 0;
}

.adminlogin .form .inputfield .check .checkmark {
  width: 15px;
  height: 15px;
  border: 1px solid #38489E;
  display: block;
  position: relative;
}

.adminlogin .form .inputfield .check .checkmark:before {
  content: "";
  position: absolute;
  top: 1px;
  left: 2px;
  width: 5px;
  height: 2px;
  border: 2px solid;
  border-color: transparent transparent #fff #fff;
  transform: rotate(-45deg);
  display: none;
}

.adminlogin .form .inputfield .check input[type="checkbox"]:checked~.checkmark {
  background: #38489E;
}

.adminlogin .form .inputfield .check input[type="checkbox"]:checked~.checkmark:before {
  display: block;
}

.adminlogin .form .inputfield .btn {
  width: 100%;
  padding: 8px 10px;
  font-size: 15px;
  border: 0px;
  background: #38489E;
  color: #fff;
  cursor: pointer;
  border-radius: 3px;
  outline: none;
}

.adminlogin .form .inputfield .btn:hover {
  background: #38489E;
}

.adminlogin .form .inputfield:last-child {
  margin-bottom: 0;
}

.adminlogin a {
  text-decoration: none;
}

@media (max-width:420px) {
  .adminlogin .form .inputfield {
    flex-direction: column;
    align-items: flex-start;
  }
  .adminlogin .form .inputfield label {
    margin-bottom: 5px;
  }
  .adminlogin .form .inputfield.terms {
    flex-direction: row;
  }
}