body {
  background-color: #f5f5f5;
}

.header {
  background: #38489E;
}

.header__logo {
  padding: 15px 0;
}

.header__logo a {
  display: inline-block;
}

.header__social__icons i {
  font-size: 1em;
  color: white;
  margin-left: 6px;
  margin-right: 6px;
}

.header .brand-name {
  font-size: 25px;
  padding-right: 10px;
  color: white;
}

.brand-name+img {
  height: 60px;
  width: 60px;
}

.humberger__menu__wrapper {
  display: none;
}

.humberger__open {
  display: none;
}

.humberger__open {
  border-color: white !important;
}

.humberger__open i {
  color: white;
}

.humberger__menu__wrapper {
  background: #e0f2f1;
  overflow-x: hidden;
  box-shadow: 5px 0px 20px rgba(0, 0, 0, 0.3);
}

.humberger__nav__links {
  padding: 15px;
  /* padding-left: 0px; */
  line-height: 2;
}

.humberger__nav__links hr {
  border: 0.3px solid #38489E;
}

.humberger__nav__links ul {
  padding-left: 0px;
  padding-top: 25px;
}

.humberger__nav__links a {
  color: #38489E;
  text-decoration: none;
}

.humberger__nav__links ul li {
  list-style: none;
}

.humberger__nav__links ul li a i {
  margin-right: 10px;
}

@media screen and (max-width: 992px) {
  .admin-sidebar {
    display: none;
  }
  .header__search__field {
    display: none;
  }
  .header_buttons {
    display: none;
  }
  .header__social__user__account {
    display: none;
  }
  .mybasket_button {
    display: none;
  }
  .brand-name+img {
    height: 50px;
    width: 50px;
  }
  .quick__links__div {
    display: none;
  }
}

@media only screen and (min-width: 768px) and (max-width: 992px) {
  .humberger__open {
    display: block;
    font-size: 22px;
    color: #1c1c1c;
    height: 35px;
    width: 35px;
    line-height: 33px;
    text-align: center;
    border: 1px solid #1c1c1c;
    cursor: pointer;
    position: absolute;
    right: 15px;
    top: 22px;
  }
  .header .container {
    position: relative;
  }
  .humberger__menu__wrapper {
    width: 200px;
    background: #ffffff;
    position: fixed;
    left: -300px;
    top: 0;
    height: 100%;
    overflow-y: auto;
    z-index: 99;
    padding: 30px;
    padding-top: 50px;
    opacity: 0;
    display: block;
    -webkit-transition: all, 0.6s;
    -moz-transition: all, 0.6s;
    -ms-transition: all, 0.6s;
    -o-transition: all, 0.6s;
    transition: all, 0.6s;
  }
  .humberger__menu__wrapper.show__humberger__menu__wrapper {
    opacity: 1;
    left: 0;
  }
  .humberger__menu__overlay {
    position: fixed;
    left: 0;
    top: 0;
    height: 100%;
    width: 100%;
    background: rgba(0, 0, 0, 0.5);
    content: "";
    z-index: 98;
    visibility: hidden;
    -webkit-transition: all, 0.6s;
    -moz-transition: all, 0.6s;
    -ms-transition: all, 0.6s;
    -o-transition: all, 0.6s;
    transition: all, 0.6s;
  }
  .humberger__menu__overlay.active {
    visibility: visible;
  }
  .header__top {
    display: none;
  }
  .header__menu {
    display: none;
  }
  .over_hid {
    overflow: hidden;
  }
}


/* Wide Mobile = 480px */

@media only screen and (max-width: 767px) {
  .humberger__open {
    display: block;
    font-size: 22px;
    color: #1c1c1c;
    height: 35px;
    width: 35px;
    line-height: 33px;
    text-align: center;
    border: 1px solid #1c1c1c;
    cursor: pointer;
    position: absolute;
    right: 15px;
    top: 22px;
  }
  .header .container {
    position: relative;
  }
  .humberger__menu__wrapper {
    width: 200px;
    background: #ffffff;
    position: fixed;
    left: -300px;
    top: 0;
    height: 100%;
    overflow-y: auto;
    z-index: 99;
    padding: 30px;
    padding-top: 50px;
    opacity: 0;
    display: block;
    -webkit-transition: all, 0.6s;
    -moz-transition: all, 0.6s;
    -ms-transition: all, 0.6s;
    -o-transition: all, 0.6s;
    transition: all, 0.6s;
  }
  .humberger__menu__wrapper.show__humberger__menu__wrapper {
    opacity: 1;
    left: 0;
  }
  .humberger__menu__overlay {
    position: fixed;
    left: 0;
    top: 0;
    height: 100%;
    width: 100%;
    background: rgba(0, 0, 0, 0.5);
    content: "";
    z-index: 98;
    visibility: hidden;
    -webkit-transition: all, 0.6s;
    -moz-transition: all, 0.6s;
    -ms-transition: all, 0.6s;
    -o-transition: all, 0.6s;
    transition: all, 0.6s;
  }
  .humberger__menu__overlay.active {
    visibility: visible;
  }
  .header__top {
    display: none;
  }
  .header__menu {
    display: none;
  }
  .over_hid {
    overflow: hidden;
  }
}


/* Tables */

td {
  font-size: 14px;
  font-family: 'Georgia';
  cursor: pointer;
}

th {
  font-size: 16px;
  font-family: 'Georgia';
  color: #fff;
  font-weight: bold;
  background: #38489E;
  cursor: pointer;
}
@media (max-width: 400px) {
  td {
  font-size: 10px;
}

th {
  font-size: 12px;
  font-weight: 400;
}
}

.sticky_sidebar {
  position: sticky;
  position: -webkit-sticky;
  top: 6rem;
}
.main-body-section {
    padding: 30px; 
}
@media (min-width: 993px) {
  .admin-sidebar {
    display: block!important;
    min-height: 90vh;
    box-shadow: 5px 0px 20px rgb(0 0 0 / 30%);
  }
  .main-body-section {
    padding: 20px; 
    padding-left: 65px;
  }
}

#admin-ticketDetails {
  display: none;
}

#section2 {
  display: none;
}


/*Update password section*/

.update_password_section {
  max-width: 590px;
  width: 100%;
  margin: 20px auto;
  box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.125);
  padding: 30px;
}

.update_password_section .title {
  font-size: 24px;
  font-weight: 700;
  margin-bottom: 25px;
  color: #38489E;
  text-transform: uppercase;
  text-align: center;
}

.update_password_section .form {
  width: 100%;
}

.update_password_section .form .inputfield {
  margin-bottom: 15px;
  display: flex;
  align-items: center;
}

.update_password_section .form .inputfield label {
  width: 250px;
  color: #757575;
  margin-right: 10px;
  font-size: 14px;
}

.update_password_section .form .inputfield .input {
  width: 100%;
  outline: none;
  border: 1px solid #d5dbd9;
  font-size: 15px;
  padding: 8px 10px;
  border-radius: 3px;
  transition: all 0.3s ease;
}

.update_password_section .form .inputfield .input:focus {
  border: 1px solid #38489E;
}

.update_password_section .form .inputfield .btn {
  width: 100%;
  padding: 8px 10px;
  font-size: 15px;
  border: 0px;
  background: #38489E;
  color: #fff;
  cursor: pointer;
  border-radius: 3px;
  outline: none;
}

.update_password_section .form .inputfield .btn:hover {
  background: #38489E;
}

@media (max-width:420px) {
  .update_password_section .form .inputfield {
    flex-direction: column;
    align-items: flex-start;
  }
  .update_password_section .form .inputfield label {
    margin-bottom: 5px;
  }
}